# OS / editor
.DS_Store
Thumbs.db

# Firebase
.firebase/
.cache/

# Node
**/node_modules/

# Logs
npm-debug.log*
yarn-error.log*

# Misc
*.local
idtoken.json
idtoken.txt
signin.json
signin_resp.json
token.json
refresh.txt
uid.txt
public/cadastro.html.bak
cfg.html
cfg.js
cfg.json
tts_ok.mp3
tts_quick.mp3
tts_real.mp3
